.block-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;

    margin-bottom: 40px;
}

.block-title__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    // line-height: 120%;
    color: var(--light-blue);

    transition: opacity .3s ease-in;

    &:hover {
        opacity: 0.8;
    }
}