.catalog {
    padding-top: 124px;
    padding-bottom: 80px;
}

.catalog__title {
    padding-top: 24px;
}

.catalog__row {
    display: grid;
    // grid-template-columns: 1fr 895px;
    grid-template-columns: 0.318fr 1fr;
    gap: 20px;
}

.catalog__items-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.catalog__items-text {
    display: flex;
    gap: 32px;
}

.catalog__items-desc {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: var(--light-blue);
    cursor: pointer;
}

.catalog__items-desc--selected{
    color: var(--black);
}

.catalog__items-icons {
    display: flex;
    align-items: center;
    gap: 4px;
}

.catalog__items-icon {
    cursor: pointer;
}

.catalog__item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

// Catalog Filters
// .catalog__filters {
//     display: flex;
//     flex-direction: column;
//     gap: 16px;
// }

// .catalog__filter {
//     border-bottom: 1px solid var(--secondary-grey);
//     padding-bottom: 16px;
// }

// .catalog__filter-title {
//     font-family: var(--font-family);
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 120%;
//     color: var(--black);
//     margin-bottom: 16px;
// }

// .catalog__filter-items {
//     display: flex;
//     flex-direction: column;
//     gap: 8px;
// }

.catalog__filter-items-hidden, .catalog__filter-items-brands {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.catalog__filter-items + .catalog__filter-items {
    margin-top: 8px;
}

.catalog__filter-items-hide-brands, .catalog__filter-items-hide-body {
    display: none;
}

.catalog__filter-item {
    display: flex;
    gap: 8px;
}

.catalog__filter-item-label {
    display: flex;
    align-items: center;
    gap: 8px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--black);
}



.catalog__filter-link {
    display: inline-block;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: var(--light-blue);

    margin-top: 16px;
}

.catalog__filter-link-brands-hide, .catalog__filter-link-body-hide {
    display: none;
}

// Filter Range

.catalog__filter-range {
    
}

// Filter Button
.catalog__filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.catalog__filter-button {
    border-radius: 8px;
    padding: 10px 16px;
    width: 285px;
    height: 40px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;

    transition: opacity .3s ease-in;

    &:hover {
        opacity: 0.8;
    }
}

.catalog__filter-button--top {
    background: var(--blue);
    color: var(--white);
}

.catalog__filter-button--bottom {
    border: 1px solid var(--black);
    color: var(--black);
}