.catalog {
    padding-top: 124px;
    padding-bottom: 80px;
}

.catalog__title {
    padding-top: 24px;
}

.catalog__row {
    display: grid;
    // grid-template-columns: 1fr 895px;
    grid-template-columns: 0.318fr 1fr;
    gap: 20px;
}

.catalog__items-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.catalog__items-text {
    display: flex;
    gap: 32px;
}

.catalog__items-desc {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: var(--light-blue);
    cursor: pointer;
}

.catalog__items-desc--selected{
    color: var(--black);
}

.catalog__items-icons {
    display: flex;
    align-items: center;
    gap: 4px;
}

.catalog__items-icon {
    cursor: pointer;
}

.catalog__item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
