.classes {
    padding: 40px 0;

    @include mobile {
        padding: 20px 0;
    }
}


.classes__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
   
    @include mobile {
        gap: 8px;
    }
}