.fav-btn {
    position: absolute; 
    top: 18px;
    right: 18px;
    z-index: 10;        
}

.icon-favorite-btn {
    fill:  var(--white);
	stroke: var(--grey);
	stroke-width: 0.6px;

    transition: fill .2s ease-in;

    &:hover {
        fill:  var(--red);
    }
}

// .btn-favorite {
//     &--selected .icon--fav-btn {  // если есть у кнопки модификатор  &--selected то иконка выбирается 
//         stroke:  var(--white);  
//         fill: var(--red);
//     }
// }