.filter__item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter__item-label {
    display: flex;
    align-items: center;
    gap: 8px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--black);
}