.logo__wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo__wrapper2 {
    display: flex;
    align-items: center;
    gap: 12px;
}


.logo {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    color: var(--white);
}

.logo__accent {
    color: var(--light-blue);
}

.logo2 {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    color: var(--black);
}